
/* ----------------  General  ----------------------------- */
body, input, textarea {
	font	: small Arial, sans-serif;
}

body {
	background	: #FAF9E1;
	color		: #000;
}

/* everything is inside the wrap! */
#wrap {
	border	: 2px solid #5AACFF;
	font-size: 100%;
	position: absolute;
	margin-left: -490px;
	width: 980px;
	left: 50%;
}

a {
	text-decoration	: none;
	color			: blue;
}
	a:HOVER {
		text-decoration	: underline;
		color			: blue;
	}
	a.underline {
		text-decoration	: underline;
	}
	
.validationerror {
	color	: red;
}

.textfieldDisabled {
	background-color: #eee;
}



/* ----------------  Site layout  ----------------------------- */
/*							wrap
/*	header					main					footer
/*							  |
/*			  leftPanel	 middlePanel  rightPanel
/**/

.progressBarContainer {
	width: 75%;
	background-color: white;
	float: left;
	height: 25px;
	text-align: left;
	border: 1px solid black;
}

.progressBar {
	background-color: red;
	height: 100%;
}

#main {
	background	: #F5FAFF;
	margin-bottom: 0px;
}

html>body #main {
	margin-top: 40px;
}

.middlePanel {
	background	: #F5FAFF;
}
	#middlePanel h2 { 
		font-weight	: bold;
	}
	
#footer {
	background	: #DCEDFF;
	border-top	: 1px solid #5AACFF;
	height: 50px;
}

.qTable h3 { /* Headline in a question */
	background	: #E0E0E0;
	font-weight	: bold;
	font-size	: 110%;
}

.qTable .okButton {
	background	: #E0E0E0;
	font-size		: 8px;
	font-weight		: bold;
}

.validationerror {
	font-weight		: bold;
}

.smaller {
	font-size	: 80%;
}

.questionInfo {
	background-color: transparent;
	padding: 5px;
	font-size: smaller;
}


/* ----------------  Tabs in HTML-PanelTabbedPane  ----------------------------- */

.inactiveTab, .inactiveTab input {
	background	: #DCEDFF;	
	font-size: 95%;		
}	



/* ----------------  ResultPage  ----------------------------- */

.resultPageSubHeadline {
	font-size	: 120%;
	font-weight	: bold;
}

.savePageTableHeadline {
	font-weight	: bold;
	font-size	: 140%;
}

/* ----------------  leftPanelFixed  ------------------------------------ */
/* ----This is used only, if in the settings.xml the leftPanelFixed option is true; */
/* .leftPanelFixed {
    position: absolute;
  }

  html>body .leftPanelFixed {  /* nur fuer moderne Browser!
    position: absolute;
	top: 50px;
    left: 5px;
  }
*/

/* ----------------  QATree leftPanel  ----------------------------- */

.currentQASet {
	background-color	: #FFFFCC;
}

.incompleteQASet {
	background-color	: #DFFDDF;
}

.completeQASet {
	background-color	: #F0F0F0;
}



/* ----------------  DiagnosesTree leftPanel  ----------------------------- */
	
.diagStandard {
	color	: black;
}

.diagExcl {
	color	: black;
}

.diagEstab {
	color		: #009900;
	font-weight	: bold;
}

.diagSugg {
	color	: #333399;
}



/* ----------------  Management leftPanel  ----------------------------- */

.mgmntPanelDiv {
	background	: #fff;
	border		: 1px solid black;
}

.mgmntheadline {
	font-weight		: bold;
}

.mgmnttext {
	font-size		: 90%;
}





/* ----------------  PanelBoxTable  ----------------------------- */

.panelBox {
	background	: #B3CCED;
	color		: #000;
	border		: 1px solid #6195D9;
}
	.panelBox td {
		background	: #C3DCFD;	
	}


/* ----------------  QuestionPopups----------------------------- */

.questionPopup {
	border: 2px solid black;
	position: absolute;
	width: 500px;
	margin-left: -400px;
	height: 80px;
}

.popupQuestionAnswered1 {
	background-color: red;
	border-color: red;
	opacity: 0.3;
}

.popupQuestionAnswered2 {
	background-color: green;
	border-color: green;
	opacity: 0.8;
}

.popupQuestionAnswered3 {
	background-color: yellow;
	border-color: yellow;
	opacity: 0.8;
}

.popupQuestionAnswered4 {
	background-color: blue;
	border-color: blue;
	opacity: 0.8;
}


/* ----------------  CompareCase Popup Page  ----------------------------- */

.compareCaseTable {
	background	: #839CBD;
	border: 1px solid black;
}
	.compareCaseTable td {
		background	: #C3DCFD;
		font-size	: 85%;
	}
	.compareCaseTable tr.qContainer td {
		background	: #B3CCED;
		font-weight	: bold;
		font-style	: italic;
		font-size	: 95%;
	}
	.compareCaseTable img {
		border: 1px solid #839CBD;
	}

		
#comparecase .backbutton {
	border: 1px solid #839CBD;
}



/* ----------------  Explanation Popup Page  ----------------------------- */

.fired {
	background	: #CCF9C5;
}

.notFired {
	background	:#FFCFD0;
}

.explanationtable, .explanationtr {
	border		: 1px dotted #000;
}



/* ----------------  MMInfo Popup Page  ----------------------------- */

.mminfotable {
	background	: #B3CCED;
	border		: 2px solid #6195D9;
}
	.mminfotable td {
		background	: #F5FAFF;	
	}
	.mminfotable th {
		font-size	: 120%;
	}
	
	
/* ----------------  XCL Popup Page  ----------------------------- */

.xclTable {
	background	: #839CBD;
	border		: 1px solid black;
}
	.xclTable td {
		background	: #C3DCFD;
	}
	.xclTable td.sum {
		font-weight	: bold;
	}
	.xclTable tr.qContainer td {
		background	: #B3CCED;
		font-weight	: bold;
		font-style	: italic;
		font-size	: 95%;
	}

#xcl h3 {
	font-size		: 130%;
}

	
/* ----------------  "Please wait" - Ajax-Panel  ----------------------------- */

.progress_inner {
	background	: red;
	color		: #fff;	
	font-size	: 110%;
	font-weight	: bold;
}	
 .corners .corner2, .corners .corner3, .corners .corner4 {	margin-left: -490px;
	width: 980px;
	left: 50%;
 	background-color: red;
 }	
	
	
	
/* ----------------  QuestionImages styles  ----------------------------- */
	
.answerSet {
	border: 1px solid black;
}	



		
/* ----------------  Rheumacheck new styles...  ----------------------------- */

.rt {
	margin: 2px 0px;
}
	.rt td.l {
		width: 25px;
		vertical-align: top;
	}
	
.rd {
	margin: 6px 0px 3px 25px;
}		

.info {
	font-size: 80%;
}	