body {
	margin: 0px;
	padding: 0px;
	font: 70% Arial, sans-serif;
	background: #eee;
	letter-spacing: -1px;
}

html>body { /* hack for IE -> firefox will take over this styles */
	font-size: small;
	letter-spacing: normal;
}

pre {
	margin: 0px;
	font-size: 110%;
}

#wrap {
	margin: 5px auto;
	width: 99%;
	background: #fff;
	border: 2px solid #264668;
}

#content {
	padding: 10px;
}

#wrap h1,#footer {
	padding: 10px;
	margin: 0px;
	background: #6392C6;
	color: white;
}

#wrap h1 {
	border-bottom: 4px solid #3B6CA1;
}

#footer {
	border-top: 4px solid #3B6CA1;
}

.errorMessage {
	color: red;
	font-style: italic;
}

#errorDetails,#errorMoreDetails {
	padding: 5px;
	border: 1px dashed #888;
	background-color: #E0E0E0;
}

.invis {
	display: none;
}