/* ----------------  General  ----------------------------- */
body,p,img {
	border: 0px;	
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

input,textarea {
	margin-top: 0px;
	margin-bottom: 0px;
}

input.button {
	cursor: pointer;
}

input[disabled],input[disabled]:hover {
	color: #aaa;
	cursor: default;
}

h1,h2,h3,h4 {
	margin: 5px;
	padding: 0px;
}

/* ----------------  Site layout  ----------------------------- */
	/*							wrap
/*	header					main					footer
/*							  |
/*			  leftPanel	 middlePanel  rightPanel
/**/
#wrap,#header,#main,.middlePanel,#leftPanel,#rightPanel,.break,#footer {
	overflow: hidden;
}

#wrap {
	text-align: left;
	margin: 6px auto;
	width: 99%;
}

#header {
	background 		: #DCEDFF;
	border-bottom	: 1px solid #5AACFF;
	height: 40px;
	position: absolute;
	width: 980px;
	z-index: 1002;
}

 html>body #header {
	position: absolute;
	top: 0px;
}

#main {
	width: 100%;
	float: left;
}

.middlePanel,#leftPanel {
	float: left;
}

#rightPanel {
	float: right;
}

.break {
	clear: both;
}

.floatleft {
	float: left;
}

/* ----------------  Gutter on all panels  ----------------------------- */
.headerGutter {
	margin: 5px;
}

.middlePanelGutter,.leftPanelGutter,.rightPanelGutter {
	margin: 5px 2px;
}

.footerGutter {
	margin: 3px;
}

/* ----------------  Questionpage middle  ----------------------------- */
.qWrapTable {
	width: 100%;
}

.qWrapTable .qContainerHeadline {
	text-align: center;
	font-size: 160%;
}

.qTable {
	width: 100%;
}

.qTable .qHeadlineButton {
	width: 30px;
	padding: 4px;
	vertical-align: top;
}

.qTable .qHeadlineText {
	font-size: 110%;
	font-weight: bold;
	padding: 4px 4px 4px 0px;
}

.qTable .okButton {
	width: 26px;
	margin-right: 5px;
	height: 20px;
}

.qPageButtons {
	width: 100%;
}

.qPageButtons td {
	padding: 6px 0px;
}

a.globalunknown {
	background-image: url("../images/global_unknown.gif");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.oqButtons {
	text-align: center;
	margin: 4px 0px;
}

.oqButtons input {
	margin: 5px;
}

/* ----------------  ResultPage, SaveCasePage  ----------------------------- */
.resultpageTableRow,.loadCaseTableRow {
	padding: 10px;
}

.resultPanelBox,.loadCasePanelBox {
	width: 100%;
}

.resultPanelBox td,.loadCasePanelBox td {
	padding: 4px 5px 0px 5px;
}

.resultPanelBox th,.loadCasePanelBox th {
	padding: 5px;
}

.result_saveCase {
	background: url("../images/save.gif") no-repeat 0 50%;
	padding-left: 18px;
}

.result_printCase {
	background: url("../images/print.gif") no-repeat 0 50%;
	padding-left: 18px;
}

.result_newCase {
	background: url("../images/new.gif") no-repeat 0 50%;
	padding-left: 18px;
}

.saveinput {
	width: 250px;
}

.savecaseicon {
	background: url("../images/save.gif") no-repeat 0 50%;
	padding-left: 18px;
}

/* ----------------  General  ----------------------------- */
.validationerror {
	margin: 5px;
}

.valigntop {
	vertical-align: top;
}

.width100p {
	width: 100%;
}

.width33p {
	width: 33%;
}

.space {
	padding-left: 20px;
}

.myFaces_panelTabbedPane_pane {
	padding: 2px;
}

.centered {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* ----------------  Header  ----------------------------- */
.toggleButtons {
	text-align: right;
}

.backicon {
	padding-left: 15px;
	background-image: url("../images/back_icon.gif");
	background-repeat: no-repeat;
	background-position: 0 50%;
}

/* ----------------  Buttons  ----------------------------- */
.buttonWrap {
	padding: 5px 0px;
}

.buttonPadding {
	padding: 3px;
}

.buttonPaddingWithIcon {
	padding: 3px 3px 3px 10px;
}

/* ----------------  LoadCasePage  ----------------------------- */
#loadCaseDiv p {
	margin-bottom: 10px;
}

/* ----------------  Management leftPanel  ----------------------------- */
.mgmntPanelDiv {
	padding: 1px;
}

.mgmntPanelDiv h2 {
	margin: 5px;
	padding: 0px;
}

.mgmntPanelDiv .panelBox td.radio {
	width: 20px;
}

.mgmntheadline {
	padding-left: 25px;
	padding-bottom: 2px;
}

.mgmnttext {
	display: block;
	padding-left: 25px;
}

.mgmntLoadKB {
	background: url("../images/loadkb.gif") no-repeat 0 50%;
	padding-left: 20px;
	margin: 0px 0px 4px 8px;
}

.mgmntNewCase {
	background: url("../images/new.gif") no-repeat 0 50%;
}

.mgmntSaveCase {
	background: url("../images/save.gif") no-repeat 0 50%;
}

.mgmntLoadCase {
	background: url("../images/load.gif") no-repeat 0 50%;
}

.mgmntKBUpload {
	background: url("../images/kb_upload.gif") no-repeat 0 50%;
}

.mgmntChangeLang {
	background: url("../images/changelanguage.gif") no-repeat 0 50%;
}

/* ----------------  PanelBoxTable  ----------------------------- */
.panelBox {
	width: 100%;
	margin-bottom: 10px;
	text-align: left;
}

.panelBox th,.panelBox td {
	padding: 3px 5px;
}

.panelBoxCenteredHeadline {
	text-align: center;
	margin: 2px;
	padding: 0px;
}

/* ----------------  "Please wait" - Ajax-Panel  ----------------------------- */
.progress {
	display: block;
	position: absolute;
	/* erst "absolute", damit der IE es interpretiert */
	top: 5px;
	left: 5px;
	width: 150px;
}

.progress[id] {
	/* Hack, damit Firefox auf "fixed" und "auto" umschaltet */
	position: fixed;
	width: auto;
}

.progress_inner {
	display: block;
	padding: 5px 15px;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.progress .corners {
	display: block;
}

.progress .corners * {
	font-size: 1px;
	height: 1px;
	display: block;
	overflow: hidden;
	border-color: black;
}

.corners .corner2,.corners .corner3,.corners .corner4 {
	border-width: 0pt 1px;
	border-style: solid;
}

.corner1 {
	margin: 0px 5px;
	background-color: black;
}

.corner2 {
	margin: 0px 3px;
	border-width: 0pt 2px;
}

.corner3 {
	margin: 0px 2px;
}

.corner4 {
	margin: 0px 1px;
}

/* ----------------  CompareCase Popup page  ----------------------------- */
#comparecase {
	margin: 5px;
}

.compareCaseTable {
	margin: 10px 0px;
	border-spacing: 3px;
}

.compareCaseTable th,.compareCaseTable td {
	padding: 3px 5px;
}

.compareCaseTable p {
	margin: 0px;
}

#comparecase .showUnknownWrap {
	padding: 5px 0px;
	text-align: right;
}

#comparecase .showUnknown {
	background-image: url("../images/show_unknown.gif");
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 4px 4px 4px 18px;
}

#comparecase div.link {
	padding: 12px;
	text-align: center;
}

.compLink {
	font-size: 95%;
	padding: 6px;
}

/* ----------------  MMInfo Popup page  ----------------------------- */
#mminfo {
	margin: 5px;
}

.mminfotable {
	width: 100%;
}

.mminfotable th {
	padding: 10px;
}

.mminfotable td {
	padding: 3px 5px;
}

a.close {
	background: url("../images/delete.gif") no-repeat 0 50%;
	padding-left: 15px;
}

/* ----------------  XCL Popup page  ----------------------------- */
#xcl {
	margin: 5px;
}

#xcl h2 {
	margin-bottom: 0px;
}

#xcl h3 {
	margin-bottom: 0px;
}

.xclTable {
	width: 100%;
	margin: 10px 0px;
	border-spacing: 2px;
}

.xclTable th,.xclTable td {
	text-align: left;
	padding: 4px;
}

.xclTable th.score,.xclTable td.score {
	width: 15%;
}

.xclTable td.score {
	text-align: right;
}

.xclTable td.sum {
	border-top: 1px solid black;
}

/* ----------------  Explanation Popup page  ----------------------------- */
#explanation {
	margin: 10px;
}

#explanation h3 {
	margin: 5px;
}

.explanationtable {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

.explanationtable td {
	padding: 4px;
}

.inner td {
	padding: 3px 3px 3px 1px;
}

/* ----------------  QuestionImages styles  ----------------------------- */
.questionImage {
	position: relative;
	top: 0px;
	left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.qImageHover:hover {
	border: 1px solid #777;
}

.answerRegion {
	position: absolute;
}

.invis {
	display: none;
	visibiliy: hidden;
}

/* ----------------  Tooltip Popup styles ----------------------------- */
ul.tooltip {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.tooltip li {
	padding: 3px;
}

.info {
	cursor: help;
}

/* ----------------  processed QContainers Panel Styles ----------------------------- */
.procHeadline th {
	padding: 0px;
}

.procHeadline th.right,th.procright {
	text-align: right;
	font-size: 80%;
}

.proc_pic {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
}

.proc_hl {
	margin-right: 40px;
}

.proc_unk {
	background: url(../images/show_unknown.gif) no-repeat 50% 50%;
}

.proc_alph {
	background: url(../images/sort_alph.gif) no-repeat 50% 50%;
}

.proc_tree {
	background: url(../images/tree.gif) no-repeat 50% 50%;
}

/* ----------------  diagnosis popup styles ----------------------------- */
#popmenu {
	white-space: nowrap;
}

#popmenu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#popmenu ul li {
	padding: 2px;
}

/* ----------------  imagemap question popup styles ----------------------------- */
#imagemap_image {
	position: relative;
	top: 0px;
	left: 0px;
}

.clickable {
	position: absolute;
}

.imgmap:hover {
	border: 1px solid #777;
}

.popupmenu {
	visibility: hidden;
	z-index: 1002;
	position: absolute;
}

/* ----------------  imagemap question popup styles ----------------------------- */
.freqList {
	background: #DCEAFE;
	border: 2px solid #6195D9;
}

.freqTable th {
	font-size: 110%;
	border-bottom: 1px solid #6195D9;
}

.freqTable td.subHL {
	font-weight: bold;
}

.freqTable td {
	font-size: 90%;
}

.freqTable td.rel {
	text-align: right;
}

.ansFreqGridCols {
	vertical-align: top;
}