<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-CostBenefit" version="0.0.1">

	<requires>
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod"
		id="PSMethodCostBenefit">
		<parameter id="class"
			value="de.d3web.costBenefit.inference.PSMethodCostBenefit" />
		<parameter id="name" value="PSMethodCostBenefit" />
		<parameter id="description" value="PSMethod for CostBenefit" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints"
		point-id="KnowledgeWriter" id="CostBenefitModelPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.costBenefit.io.CostBenefitModelPersistenceHandler" />
		<parameter id="name" value="CostBenefitModelPersistenceHandler" />
		<parameter id="description" value="Saves cost benefit knowledge to XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/costbenefitknowledge.xml" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints"
		point-id="KnowledgeReader" id="CostBenefitModelPersistenceHandler">
		<parameter id="class"
			value="de.d3web.costBenefit.io.CostBenefitModelPersistenceHandler" />
		<parameter id="name" value="CostBenefitModelPersistenceHandler" />
		<parameter id="description" value="Loads cost benefit knowledge from XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/costbenefitknowledge.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultAbortStrategyHandler">
		<parameter id="class"
			value="de.d3web.costBenefit.io.fragments.DefaultAbortStrategyHandler" />
		<parameter id="name" value="DefaultAbortStrategyHandler" />
		<parameter id="description" value="Handler for DefaultAbortStrategy" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultCostFunctionHandler">
		<parameter id="class"
			value="de.d3web.costBenefit.io.fragments.DefaultCostFunctionHandler" />
		<parameter id="name" value="DefaultCostFunctionHandler" />
		<parameter id="description" value="Handler for DefaultCostFunctionHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultTargetFunctionHandler">
		<parameter id="class"
			value="de.d3web.costBenefit.io.fragments.DefaultTargetFunctionHandler" />
		<parameter id="name" value="DefaultTargetFunctionHandler" />
		<parameter id="description" value="Handler for DefaultTargetFunctionHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="IterativeDeepeningSearchAlgorithmHandler">
		<parameter id="class"
			value="de.d3web.costBenefit.io.fragments.IterativeDeepeningSearchAlgorithmHandler" />
		<parameter id="name" value="IterativeDeepeningSearchAlgorithmHandler" />
		<parameter id="description" value="Handler for IterativeDeepeningSearchAlgorithmHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NoAbortStrategyHandler">
		<parameter id="class"
			value="de.d3web.costBenefit.io.fragments.NoAbortStrategyHandler" />
		<parameter id="name" value="NoAbortStrategyHandler" />
		<parameter id="description" value="Handler for NoAbortStrategyHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

</plugin>