<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-XCL" version="1.0">

	<requires>
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod"
		id="PSMethodXCL">
		<parameter id="class"
			value="de.d3web.xcl.inference.PSMethodXCL" />
		<parameter id="name" value="PSMethodXCL" />
		<parameter id="description" value="PSMethod for XCL" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property" id="noBenefit">
		<parameter id="name" value="noBenefit" />
		<parameter id="description"
			value="Property to mark a choice as irrelevant for cost benefit calculation." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="XCLModelPersistenceHandler">
		<parameter id="class"
			value="de.d3web.xcl.io.XCLModelPersistenceHandler" />
		<parameter id="name" value="XCLModelPersistenceHandler" />
		<parameter id="description" value="KnowledgeReader for XCLModels" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/xcl.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="XCLModelPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.xcl.io.XCLModelPersistenceHandler" />
		<parameter id="name" value="XCLModelPersistenceHandler" />
		<parameter id="description" value="KnowledgeWriter for XCLModels" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/xcl.xml" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Autodetect"
		id="XCLAutoDetect">
		<parameter id="class"
			value="de.d3web.xcl.XCLAutoDetect" />
		<parameter id="name" value="XCLAutoDetect" />
		<parameter id="description" value="Autodetect if xcl is needed for a kb" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="XCLPSConfigHandler">
		<parameter id="class"
			value="de.d3web.xcl.io.fragments.XCLPSConfigHandler" />
		<parameter id="name" value="XCLPSConfigHandler" />
		<parameter id="description" value="Handler for XCLPSConfigs" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultScoreAlgorithmHandler">
		<parameter id="class"
			value="de.d3web.xcl.io.fragments.DefaultScoreAlgorithmHandler" />
		<parameter id="name" value="DefaultScoreAlgorithmHandler" />
		<parameter id="description" value="Handler for DefaultScoreAlgorithmHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
</plugin>