<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-Plugin-Tests" version="0.0.1">
	
	<requires>
		<import plugin-id="d3web-Plugin-TestingFramework" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
		<library id="webapp" path="webapp/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>


	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="EmptyQuestionnaireTest">
		<parameter id="class"
			value="de.d3web.test.EmptyQuestionnaire" />
		<parameter id="name" value="EmptyQuestionnaire" />
		<parameter id="description" value="CITest EmptyQuestionnaire" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="TestCaseTest">
		<parameter id="class"
			value="de.d3web.test.TestCaseTest" />
		<parameter id="name" value="TestCase" />
		<parameter id="description" value="CITest TestCaseTest" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<!--
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="StandardQuestionDerivedByAbstraction">
		<parameter id="class"
			value="de.d3web.test.StandardQuestionDerivedByAbstraction" />
		<parameter id="name" value="StandardQuestionDerivedByAbstraction" />
		<parameter id="description" value="CITest StandardQuestionDerivedByAbstraction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>	
	-->
</plugin>
