<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="TestResourcePlugin" version="0.1">
	
	<runtime>
		<library id="files" path="files/" type="resources">
			<export prefix="*" />
		</library>
	</runtime>
</plugin>