<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-BasicProperties" version="0.0.1">
	
	<requires>
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="cost">
		<parameter id="name" value="cost" />
		<parameter id="description" value="specifies what amount of costs is needed to perform the qaset" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Double" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="unit">
		<parameter id="name" value="unit" />
		<parameter id="description" value="the unit of numerical questions" />
		<parameter id="multilingual" value="true" />
		<parameter id="autosave" value="mminfo" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="abstractionQuestion">
		<parameter id="name" value="abstractionQuestion" />
		<parameter id="description" value="Marks a Question as abstraction question (derived) or not." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="apriori">
		<parameter id="name" value="apriori" />
		<parameter id="description" value="Saves the apriori probability of a diagnosis" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Float" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="range">
		<parameter id="name" value="range" />
		<parameter id="description" value="valid range of numerical answers of QuestionNum" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="de.d3web.core.knowledge.terminology.info.NumericalInterval" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="INIT">
		<parameter id="name" value="INIT" />
		<parameter id="description" value="the ids of the answers(seperated by ;), which is  set in PSMethodInit" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="unknownVisible">
		<parameter id="name" value="unknownVisible" />
		<parameter id="description" value="should UNKNOWN be invisible in questions. If it is set to the kb it represents the default." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="unknown_verbalisation">
		<parameter id="name" value="unknown_verbalisation" />
		<parameter id="description" value="verbalisation of Unknown" />
		<parameter id="multilingual" value="true" />
		<parameter id="autosave" value="mminfo" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="version">
		<parameter id="name" value="version" />
		<parameter id="description" value="contains a version, for example of a knowledge base" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="author">
		<parameter id="name" value="author" />
		<parameter id="description" value="contains a version, for example of a knowledge base" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="filename">
		<parameter id="name" value="filename" />
		<parameter id="description" value="contains the desired filename of a knowledge base to be downloaded" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="created">
		<parameter id="name" value="created" />
		<parameter id="description" value="contains the download date of a knowledge base (is persistently created when downloaded)" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.util.Date" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="description">
		<parameter id="name" value="description" />
		<parameter id="description" value="contains a description" />
		<parameter id="multilingual" value="true" />
		<parameter id="autosave" value="mminfo" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="prompt">
		<parameter id="name" value="prompt" />
		<parameter id="description" value="contains the full text wich should be prompted" />
		<parameter id="multilingual" value="true" />
		<parameter id="autosave" value="mminfo" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="link">
		<parameter id="name" value="link" />
		<parameter id="description" value="A String representing an external description. A link may contain an URL or a relative path to a resource of the KnowledgeBase." />
		<parameter id="multilingual" value="true" />
		<parameter id="autosave" value="mminfo" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.String" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="abnormality">
		<parameter id="name" value="abnormality" />
		<parameter id="description" value="Represents the abnormality of a symptom." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="de.d3web.core.knowledge.terminology.info.abnormality.DefaultAbnormality" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="abnormalityNum">
		<parameter id="name" value="abnormalityNum" />
		<parameter id="description" value="Represents the abnormality for num values." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="de.d3web.core.knowledge.terminology.info.abnormality.AbnormalityNum" />
	</extension>
	
</plugin>