<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-DiaFlux" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	

	<!-- extensions -->
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod"
		id="FluxSolver">
		<parameter id="class"
			value="de.d3web.diaFlux.inference.FluxSolver"/>
		<parameter id="name" value="FluxSolver" />
		<parameter id="description" value="DiaFlux-PSM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="FluxSolverConfigHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.FluxSolverConfigHandler" />
		<parameter id="name" value="FluxSolverConfigHandler" />
		<parameter id="description" value="Handler to persist the configuration of a FluxSolver" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="NamedObjectFinder"
		id="DiaFluxFinder">
		<parameter id="class"
			value="de.d3web.diaFlux.flow.DiaFluxFinder"/>
		<parameter id="name" value="DiaFluxFinder" />
		<parameter id="description" value="NamedObjectFinder for DiaFlux" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="DiaFluxReader">
		<parameter id="class" value="de.d3web.diaFlux.io.DiaFluxPersistenceHandler" />
		<parameter id="name" value="DiaFluxReader" />
		<parameter id="description" value="KnowledgeReader for DiaFlux." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="filename" value="kb/diaflux.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="DiaFluxWriter">
		<parameter id="class" value="de.d3web.diaFlux.io.DiaFluxPersistenceHandler" />
		<parameter id="name" value="DiaFluxWriter" />
		<parameter id="description" value="KnowledgeWriter for DiaFlux." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="4" />
		<parameter id="filename" value="kb/diaflux.xml" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Autodetect"
		id="DiaFluxAutoDetect">
		<parameter id="class"
			value="de.d3web.diaFlux.flow.DiaFluxAutoDetect" />
		<parameter id="name" value="DiaFluxAutoDetect" />
		<parameter id="description" value="Autodetect if DiaFlux is needed to load and execute a knowledge base" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NodeActiveConditionHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.NodeActiveConditionHandler" />
		<parameter id="name" value="NodeActiveHandler" />
		<parameter id="description" value="Checks if a node is supported" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NOOPActionHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.NOOPActionHandler" />
		<parameter id="name" value="NOOPActionHandler" />
		<parameter id="description" value="persistence for NOOPAction" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="FlowchartProcessedConditionHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.FlowchartProcessedConditionHandler" />
		<parameter id="name" value="FlowchartProcessedConditionHandler" />
		<parameter id="description" value="Checks if a flowchart is processed" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property"
		id="forcePropagation">
		<parameter id="name" value="forcePropagation" />
		<parameter id="description" value="Setting this property to 'true' will cause the owner of the property to be propagated (disregarding changed value or not)" />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>
	
</plugin>
