<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This plugin only defines extension points for knowledge reader, knowledge writer and fragment handler. -->
<plugin id="KnowledgePersistenceExtensionPoints" version="0.0.1">
	
	<extension-point id="KnowledgeReader">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="filepattern" multiplicity="none-or-one"/>
		<parameter-def id="filename" multiplicity="none-or-one"/>
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="KnowledgeWriter">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="filename" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="FragmentHandler">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
</plugin>