<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="knowledgePersistenceShared" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="SharedPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.shared.io.SharedPersistenceHandler" />
		<parameter id="name" value="SharedPersistenceHandler" />
		<parameter id="description" value="Saves shared knowledge to XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/shared.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="SharedPersistenceHandler">
		<parameter id="class"
			value="de.d3web.shared.io.SharedPersistenceHandler" />
		<parameter id="name" value="SharedPersistenceHandler" />
		<parameter id="description" value="Loads shared knowledge from XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/shared.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="AbstractAbnormalityHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.AbstractAbnormalityHandler" />
		<parameter id="name" value="AbstractAbnormalityHandler" />
		<parameter id="description" value="Handels the default implementations of AbstractAbnormality" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="LocalWeightHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.LocalWeightHandler" />
		<parameter id="name" value="LocalWeightHandler" />
		<parameter id="description" value="Handels LocalWeights" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="PairRelationHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.PairRelationHandler" />
		<parameter id="name" value="PairRelationHandler" />
		<parameter id="description" value="Handels choice answers" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorMCGroupedAsymmetricHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorMCGroupedAsymmetricHandler" />
		<parameter id="name" value="QuestionComparatorMCGroupedAsymmetricHandler" />
		<parameter id="description" value="Handels QuestionComparatorMCGroupedAsymmetric" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorMCGroupedSymmetricHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorMCGroupedSymmetricHandler" />
		<parameter id="name" value="QuestionComparatorMCGroupedSymmetricHandler" />
		<parameter id="description" value="Handels QuestionComparatorMCGroupedSymmetric" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorMCIndividualHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorMCIndividualHandler" />
		<parameter id="name" value="QuestionComparatorMCIndividualHandler" />
		<parameter id="description" value="Handels QuestionComparatorMCIndividual" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorNumDivisionDenominatorHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorNumDivisionDenominatorHandler" />
		<parameter id="name" value="QuestionComparatorNumDivisionDenominatorHandler" />
		<parameter id="description" value="Handels QuestionComparatorNumDivisionDenominator" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorNumDivisionHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorNumDivisionHandler" />
		<parameter id="name" value="QuestionComparatorNumDivisionHandler" />
		<parameter id="description" value="Handels QuestionComparatorNumDivision" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorNumFuzzyHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorNumFuzzyHandler" />
		<parameter id="name" value="QuestionComparatorNumFuzzyHandler" />
		<parameter id="description" value="Handels QuestionComparatorNumFuzzy" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorNumIndividualHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorNumIndividualHandler" />
		<parameter id="name" value="QuestionComparatorNumIndividualHandler" />
		<parameter id="description" value="Handles QuestionComparatorNumIndividual" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorNumSectionHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorNumSectionHandler" />
		<parameter id="name" value="QuestionComparatorNumSectionHandler" />
		<parameter id="description" value="Handles QuestionComparatorNumSection" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorNumSectionInterpolateHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorNumSectionInterpolateHandler" />
		<parameter id="name" value="QuestionComparatorNumSectionInterpolateHandler" />
		<parameter id="description" value="Handels QuestionComparatorNumSectionInterpolate" />
		<parameter id="version" value="1.0" />
		<!-- This Handler needs a higher priority because QuestionComparatorNumSectionInterpolate is an	inheritor of QuestionComparatorNumSection -->
		<parameter id="priority" value="4" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorOCGroupedAsymmetricHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorOCGroupedAsymmetricHandler" />
		<parameter id="name" value="QuestionComparatorOCGroupedAsymmetricHandler" />
		<parameter id="description" value="Handels QuestionComparatorOCGroupedAsymmetric" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorOCGroupedSymmetricHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorOCGroupedSymmetricHandler" />
		<parameter id="name" value="QuestionComparatorOCGroupedSymmetricHandler" />
		<parameter id="description" value="Handles QuestionComparatorOCGroupedSymmetric" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorOCIndividualHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorOCIndividualHandler" />
		<parameter id="name" value="QuestionComparatorOCIndividualHandler" />
		<parameter id="description" value="Handles QuestionComparatorOCIndividual" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorOCScaledHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorOCScaledHandler" />
		<parameter id="name" value="QuestionComparatorOCScaledHandler" />
		<parameter id="description" value="Handles QuestionComparatorOCScaled" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorTextIndividualHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorTextIndividualHandler" />
		<parameter id="name" value="QuestionComparatorTextIndividualHandler" />
		<parameter id="description" value="Handles QuestionComparatorTextIndividual" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionComparatorYNHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.QuestionComparatorYNHandler" />
		<parameter id="name" value="QuestionComparatorYNHandler" />
		<parameter id="description" value="Handles QuestionComparatorYN" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="WeightHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.WeightHandler" />
		<parameter id="name" value="WeightHandler" />
		<parameter id="description" value="Handels Weights" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="KnowledgeBaseUnknownSimilarityHandler">
		<parameter id="class"
			value="de.d3web.shared.io.fragments.KnowledgeBaseUnknownSimilarityHandler" />
		<parameter id="name" value="KnowledgeBaseUnknownSimilarityHandler" />
		<parameter id="description" value="Handles KnowledgeBaseUnknownSimilaritys" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
</plugin>