<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-DiaFlux" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	

	<!-- extensions -->
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod"
		id="FluxSolver">
		<parameter id="class"
			value="de.d3web.diaFlux.inference.FluxSolver"/>
		<parameter id="name" value="FluxSolver" />
		<parameter id="description" value="DiaFlux-PSM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="DiaFluxReader">
		<parameter id="class" value="de.d3web.diaFlux.io.DiaFluxPersistenceHandler" />
		<parameter id="name" value="ImageQuestionPersistenceHandler" />
		<parameter id="description" value="KnowledgeReader for DiaFlux." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/diaflux.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="DiaFluxWriter">
		<parameter id="class" value="de.d3web.diaFlux.io.DiaFluxPersistenceHandler" />
		<parameter id="name" value="ImageQuestionPersistenceHandler" />
		<parameter id="description" value="KnowledgeWriter for DiaFlux." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/diaflux.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="CallFlowActionHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.CallFlowActionFragmentHandler" />
		<parameter id="name" value="CallFlowActionHandler" />
		<parameter id="description" value="Handles the indication of DiaFlux models" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NodeActiveConditionHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.NodeActiveConditionHandler" />
		<parameter id="name" value="NodeActiveHandler" />
		<parameter id="description" value="Checks if a node is supported" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="FlowchartProcessedConditionHandler">
		<parameter id="class"
			value="de.d3web.diaFlux.io.FlowchartProcessedContitionHandler" />
		<parameter id="name" value="FlowchartProcessedContitionHandler" />
		<parameter id="description" value="Checks if a flowchart is processed" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>
