<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-Plugin-TestingFramework" version="0.0.1">
	<!-- This plugin only defines extension points for tests. -->
	
	<extension-point id="Test">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="TestObjectProvider">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension plugin-id="d3web-Plugin-TestingFramework" point-id="Test"
		id="TestTest">
		<parameter id="class"
			value="de.d3web.testing.test.TestTest" />
		<parameter id="name" value="TestTest" />
		<parameter id="description" value="This is a dummy test for testing of the testing framework" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
</plugin>