<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="KnowledgePersistenceBasicExtensions" version="0.0.1">
	
	<requires>
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DateHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.DateHandler" />
		<parameter id="name" value="DateHandler" />
		<parameter id="description" value="Handels Date (for example when used as a property)" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultPSConfigHandler">
		<parameter id="class"
			value="de.d3web.plugin.io.fragments.DefaultPSConfigHandler" />
		<parameter id="name" value="DefaultPSConfigHandler" />
		<parameter id="description" value="Default handler for PSConfigs" />
		<parameter id="version" value="1.0" />
		<!--must have the lowest priority of all PSConfig Handlers, because it handels every PSConfig-->
		<parameter id="priority" value="10" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NullHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.NullHandler" />
		<parameter id="name" value="NullHandler" />
		<parameter id="description" value="Handler for null" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="ChoiceHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.ChoiceHandler" />
		<parameter id="name" value="ChoiceHandler" />
		<parameter id="description" value="Handles choices" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="SolutionsHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.SolutionsHandler" />
		<parameter id="name" value="SolutionsHandler" />
		<parameter id="description" value="FragmentHanler for solutions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="LinkedListHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.LinkedListHandler" />
		<parameter id="name" value="LinkedListHandler" />
		<parameter id="description" value="Handler for LinkedLists" />
		<parameter id="version" value="1.0" />
		<!-- Must have a lower priority, so that other properties with special lists are tried first -->
		<parameter id="priority" value="6" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumericalIntervalHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.NumericalIntervalHandler" />
		<parameter id="name" value="NumericalIntervalHandler" />
		<parameter id="description" value="FragmentHandler for NumericalIntervals and AbnormalityIntervals" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QContainerHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.QContainerHandler" />
		<parameter id="name" value="QContainerHandler" />
		<parameter id="description" value="Handler for QContainers" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.QuestionHandler" />
		<parameter id="name" value="QuestionHandler" />
		<parameter id="description" value="FragmentHandler for Questions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="RuleHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.RuleHandler" />
		<parameter id="name" value="RuleHandler" />
		<parameter id="description" value="FragmentHandler for Rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="ContraIndicationActionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.ContraIndicationActionHandler" />
		<parameter id="name" value="ContraIndicationActionHandler" />
		<parameter id="description" value="Handles contraindication actions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="HeuristicPSActionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.HeuristicPSActionHandler" />
		<parameter id="name" value="HeuristicPSActionHandler" />
		<parameter id="description" value="Handles heuristic actions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NextQASetActionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.NextQASetActionHandler" />
		<parameter id="name" value="NextQASetActionHandler" />
		<parameter id="description" value="Handles actions indicating qasets" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="QuestionSetterActionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.QuestionSetterActionHandler" />
		<parameter id="name" value="QuestionSetterActionHandler" />
		<parameter id="description" value="Handles actions setting answers to questions" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="SuppressAnswerActionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.SuppressAnswerActionHandler" />
		<parameter id="name" value="SuppressAnswerActionHandler" />
		<parameter id="description" value="Handles actions supressing answers" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="ExpressionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.formula.ExpressionHandler" />
		<parameter id="name" value="ExpressionHandler" />
		<parameter id="description" value="Handles expressions in old KBs." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.1" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="FormulaElementHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.actions.formula.FormulaElementHandler" />
		<parameter id="name" value="FormulaElementHandler" />
		<parameter id="description" value="Handles basic formula elements." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="AndConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.AndConditionHandler" />
		<parameter id="name" value="AndConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondAnds" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DStateConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.DStateConditionHandler" />
		<parameter id="name" value="DStateConditionHandler" />
		<parameter id="description" value="FragementHandler for CondDStates" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="ConditionTrueFragmentHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.ConditionTrueFragmentHandler" />
		<parameter id="name" value="ConditionTrueFragmentHandler" />
		<parameter id="description" value="FragementHandler for ConditionTrue" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
		
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="EqualConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.EqualConditionHandler" />
		<parameter id="name" value="EqualConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondEquals" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="RegexConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.RegexConditionHandler" />
		<parameter id="name" value="RegexConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondRegex" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="KnownConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.KnownConditionHandler" />
		<parameter id="name" value="KnownConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondKnowns" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="MofNConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.MofNConditionHandler" />
		<parameter id="name" value="MofNConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondMofNs" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NotConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NotConditionHandler" />
		<parameter id="name" value="NotConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondNots" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumEqualConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NumEqualConditionHandler" />
		<parameter id="name" value="NumEqualConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondNumEquals" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumGreaterConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NumGreaterConditionHandler" />
		<parameter id="name" value="NumGreaterConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondNumGreaters" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumGreaterEqualConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NumGreaterEqualConditionHandler" />
		<parameter id="name" value="NumGreaterEqualConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondNumGreaterEquals" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumInConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NumInConditionHandler" />
		<parameter id="name" value="NumInConditionHandler" />
		<parameter id="description" value="FragementHandler for CondNumIns" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumLessConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NumLessConditionHandler" />
		<parameter id="name" value="NumLessConditionHandler" />
		<parameter id="description" value="FragementHandler for CondNumLesses" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="NumLessEqualConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.NumLessEqualConditionHandler" />
		<parameter id="name" value="NumLessEqualConditionHandler" />
		<parameter id="description" value="FragementHandler for CondNumLessEquals" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="OrConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.OrConditionHandler" />
		<parameter id="name" value="OrConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondOrs" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="TextContainsConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.TextContainsConditionHandler" />
		<parameter id="name" value="TextContainsConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondTextContains" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="TextEqualConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.TextEqualConditionHandler" />
		<parameter id="name" value="TextEqualConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondTextEquals" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="ConditionSolutionConfirmedHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.ConditionSolutionConfirmedHandler" />
		<parameter id="name" value="ConditionSolutionConfirmed" />
		<parameter id="description" value="FragmentHandler for ConditionSolutionConfirmed" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="ConditionSolutionRejectedHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.ConditionSolutionRejectedHandler" />
		<parameter id="name" value="ConditionSolutionConfirmed" />
		<parameter id="description" value="FragmentHandler for ConditionSolutionRejected" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="UnknownConditionHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.conditions.UnknownConditionHandler" />
		<parameter id="name" value="UnknownConditionHandler" />
		<parameter id="description" value="FragmentHandler for CondUnknowns" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="AbstractionRulesPersistenceHandler">
		<parameter id="class"
			value="de.d3web.core.io.rules.AbstractionRulesPersistenceHandler" />
		<parameter id="name" value="AbstractionRulesPersistenceHandler" />
		<parameter id="description" value="KnowledgeReader for abstraction rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/abstraction-rules.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="AbstractionRulesPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.core.io.rules.AbstractionRulesPersistenceHandler" />
		<parameter id="name" value="AbstractionRulesPersistenceHandler" />
		<parameter id="description" value="KnowledgeWriter for abstraction rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/abstraction-rules.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="HeuristicRulesPersitenceHandler">
		<parameter id="class"
			value="de.d3web.core.io.rules.HeuristicRulesPersitenceHandler" />
		<parameter id="name" value="HeuristicRulesPersitenceHandler" />
		<parameter id="description" value="KnowledgeReader for heuristic rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/heuristic-rules.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="HeuristicRulesPersitenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.core.io.rules.HeuristicRulesPersitenceHandler" />
		<parameter id="name" value="HeuristicRulesPersitenceHandler" />
		<parameter id="description" value="KnowledgeWriter for heuristic rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/heuristic-rules.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="StrategicRulesPersistenceHandler">
		<parameter id="class"
			value="de.d3web.core.io.rules.StrategicRulesPersistenceHandler" />
		<parameter id="name" value="StrategicRulesPersistenceHandler" />
		<parameter id="description" value="KnowledgeReader for strategic-rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/strategic-rules.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="StrategicRulesPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.core.io.rules.StrategicRulesPersistenceHandler" />
		<parameter id="name" value="StrategicRulesPersistenceHandler" />
		<parameter id="description" value="KnowledgeWriter for strategic-rules" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/strategic-rules.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="BasicPersistenceHandler">
		<parameter id="class"
			value="de.d3web.core.io.BasicPersistenceHandler" />
		<parameter id="name" value="BasicPersistenceHandler" />
		<parameter id="description" value="KnowledgeReader for basic knowledge" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="filename" value="kb/basic.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="BasicPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.core.io.BasicPersistenceHandler" />
		<parameter id="name" value="BasicPersistenceHandler" />
		<parameter id="description" value="KnowledgeWriter for basic knowledge" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="1" />
		<parameter id="filename" value="kb/basic.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="MMInfoPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.mminfo.io.MMInfoPersistenceHandler" />
		<parameter id="name" value="MMInfoPersistenceHandler" />
		<parameter id="description" value="KnowledgeWriter for MMInfos" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="filename" value="kb/mminfo.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="MMInfoPersistenceHandler">
		<parameter id="class"
			value="de.d3web.mminfo.io.MMInfoPersistenceHandler" />
		<parameter id="name" value="MMInfoPersistenceHandler" />
		<parameter id="description" value="KnowledgeReader for MMInfos." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
		<parameter id="filename" value="kb/mminfo.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="PluginConfigPersistenceHandler.Writer">
		<parameter id="class"
			value="de.d3web.plugin.io.PluginConfigPersistenceHandler" />
		<parameter id="name" value="PluginConfigPersistenceHandler" />
		<parameter id="description" value="Reads Plugin Configurations." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/settings.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="PluginConfigPersistenceHandler">
		<parameter id="class"
			value="de.d3web.plugin.io.PluginConfigPersistenceHandler" />
		<parameter id="name" value="PluginConfigPersistenceHandler" />
		<parameter id="description" value="Writes Plugin Configurations." />
		<parameter id="version" value="1.0" />
		<!-- Parsing the plugin.xml first, avoids parsing other files without being able to use them -->
		<parameter id="priority" value="1" />
		<parameter id="filename" value="kb/settings.xml" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultAbnormalityHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.DefaultAbnormalityHandler" />
		<parameter id="name" value="DefaultAbnormalityHandler" />
		<parameter id="description" value="Handels DefaultAbnormality" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="AbnormalityNumHandler">
		<parameter id="class"
			value="de.d3web.core.io.fragments.AbnormalityNumHandler" />
		<parameter id="name" value="AbnormalityNumHandler" />
		<parameter id="description" value="Handels AbnormalityNum" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
</plugin>