<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<!-- This plugin only defines extension points for the core structure of d3web. -->
<plugin id="d3web-Kernel-ExtensionPoints" version="0.0.1">

	<extension-point id="PSMethod">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="Autodetect">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
	<extension-point id="Property">
		<parameter-def id="name" />
		<!-- defines a deprecated name of the property which may also be used to access the property -->
		<parameter-def id="deprecated" multiplicity="any" />
		<parameter-def id="description" />
		<!-- defines if the property is multilingual, possibilities: true or false -->
		<parameter-def id="multilingual" />
		<!-- defines the location where the property should be saved automatically, possibilities: basic, mminfo or none -->
		<parameter-def id="autosave" />
		<parameter-def id="priority" type="number" />
		<!-- defines the class of stores instances -->
		<parameter-def id="instanceof" /> 
		<!-- defines an optional default value -->
		<parameter-def id="default" multiplicity="none-or-one" /> 
	</extension-point>
	
	<extension-point id="NamedObjectFinder">
		<parameter-def id="class" />
		<parameter-def id="name" />
		<parameter-def id="description" />
		<parameter-def id="version" />
		<parameter-def id="priority" type="number" />
	</extension-point>
	
</plugin>