<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-DiaFlux" version="0.0.1">
	
	<requires>
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	

	<!-- extensions -->
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod"
		id="FluxSolver">
		<parameter id="class"
			value="de.d3web.diaFlux.inference.FluxSolver"/>
		<parameter id="name" value="FluxSolver" />
		<parameter id="description" value="DiaFlux-PSM" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>
	
	
</plugin>
