<?xml version="1.0" ?><!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0"
	"http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-CostBenefit" version="1.0">

	<requires>
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
		<import plugin-id="d3web-SessionPersistence-ExtensionPoints" />
	</requires>

	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod" id="PSMethodCostBenefit">
		<parameter id="class" value="de.d3web.costbenefit.inference.PSMethodCostBenefit" />
		<parameter id="name" value="PSMethodCostBenefit" />
		<parameter id="description" value="PSMethod for CostBenefit" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="6" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod" id="PSMethodStateTransition">
		<parameter id="class" value="de.d3web.costbenefit.inference.PSMethodStateTransition" />
		<parameter id="name" value="PSMethodStateTransition" />
		<parameter id="description" value="Source-PSMethod for transitions made by the CostBenefit" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5.5" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="ProtocolExecutor" id="CostBenefitProtocolExecutor">
		<parameter id="class" value="de.d3web.costbenefit.session.protocol.CostBenefitProtocolExecutor" />
		<parameter id="entryClass" value="de.d3web.costbenefit.session.protocol.CalculatedPathEntry" />
		<parameter id="name" value="CostBenefitProtocolExecutor" />
		<parameter id="description" value="Makes sure that a path is calculated after the protocol as been executed." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="10" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="ProtocolExecutor" id="FactProtocolExecutor:States">
		<parameter id="class"
			value="de.d3web.core.session.builder.FactProtocolExecutor(de.d3web.costbenefit.inference.PSMethodStateTransition.class)" />
		<parameter id="entryClass" value="de.d3web.core.session.protocol.FactProtocolEntry" />
		<parameter id="name" value="FactProtocolExecutor:States" />
		<parameter id="description" value="Restore states with the previous value." />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="7" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="CostBenefitModelPersistenceHandler.Writer">
		<parameter id="class" value="de.d3web.costbenefit.io.CostBenefitModelPersistenceHandler" />
		<parameter id="name" value="CostBenefitModelPersistenceHandler" />
		<parameter id="description" value="Saves cost benefit knowledge to XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/costbenefitknowledge.xml" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader"
		id="CostBenefitModelPersistenceHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.CostBenefitModelPersistenceHandler" />
		<parameter id="name" value="CostBenefitModelPersistenceHandler" />
		<parameter id="description" value="Loads cost benefit knowledge from XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/costbenefitknowledge.xml" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeWriter"
		id="ComfortBenefitHandler.Writer">
		<parameter id="class" value="de.d3web.costbenefit.io.ComfortBenefitHandler" />
		<parameter id="name" value="ComfortBenefitHandler" />
		<parameter id="description" value="Saves comfort benefit knowledge to XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/comfortBenefit.xml" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="KnowledgeReader" id="ComfortBenefitHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.ComfortBenefitHandler" />
		<parameter id="name" value="ComfortBenefitHandler" />
		<parameter id="description" value="Loads comfort benefit knowledge from XML" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
		<parameter id="filename" value="kb/comfortBenefit.xml" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DividedTransitionHeuristicHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.DividedTransitionHeuristicHandler" />
		<parameter id="name" value="DividedTransitionHeuristicHandler" />
		<parameter id="description" value="Handler for DividedTransitionHeuristic" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler" id="TPHeuristicHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.TPHeuristicHandler" />
		<parameter id="name" value="TPHeuristicHandler" />
		<parameter id="description" value="Handler for TPHeuristic" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler" id="WatchSetHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.WatchSetHandler" />
		<parameter id="name" value="WatchSetHandler" />
		<parameter id="description" value="Handler for WatchSets" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="SwitchingHeuristicHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.SwitchingHeuristicHandler" />
		<parameter id="name" value="TPHeuristicHandler" />
		<parameter id="description" value="Handler for SwitchingHeuristic" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultAbortStrategyHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.DefaultAbortStrategyHandler" />
		<parameter id="name" value="DefaultAbortStrategyHandler" />
		<parameter id="description" value="Handler for DefaultAbortStrategy" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultCostFunctionHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.DefaultCostFunctionHandler" />
		<parameter id="name" value="DefaultCostFunctionHandler" />
		<parameter id="description" value="Handler for DefaultCostFunctionHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultTargetFunctionHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.DefaultTargetFunctionHandler" />
		<parameter id="name" value="DefaultTargetFunctionHandler" />
		<parameter id="description" value="Handler for DefaultTargetFunctionHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="DefaultSolutionRaterHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.DefaultSolutionRaterHandler" />
		<parameter id="name" value="DefaultSolutionRaterHandler" />
		<parameter id="description" value="Handler for DefaultSolutionRater" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="IterativeDeepeningSearchAlgorithmHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.IterativeDeepeningSearchAlgorithmHandler" />
		<parameter id="name" value="IterativeDeepeningSearchAlgorithmHandler" />
		<parameter id="description" value="Handler for IterativeDeepeningSearchAlgorithm" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="AStarSearchAlgorithmHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.AStarSearchAlgorithmHandler" />
		<parameter id="name" value="AStarSearchAlgorithmHandler" />
		<parameter id="description" value="Handler for AStarSearchAlgorithm" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="MultiSearchAlgorithmHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.MultiSearchAlgorithmHandler" />
		<parameter id="name" value="MultiSearchAlgorithmHandler" />
		<parameter id="description" value="Handler for MultiSearchAlgorithm" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler" id="NoAbortStrategyHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.NoAbortStrategyHandler" />
		<parameter id="name" value="NoAbortStrategyHandler" />
		<parameter id="description" value="Handler for NoAbortStrategyHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Autodetect" id="AutodetectCostBenefit">
		<parameter id="class" value="de.d3web.costbenefit.AutodetectCostBenefit" />
		<parameter id="name" value="AutodetectCostBenefit" />
		<parameter id="description" value="Autodetect if CostBenefit is needed for a kb" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="CostBenefitPSConfigHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.CostBenefitPSConfigHandler" />
		<parameter id="name" value="CostBenefitPSConfigHandler" />
		<parameter id="description" value="Handler for CostBenefitPSConfigHandler" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property" id="comfortBenefit">
		<parameter id="name" value="comfortBenefit" />
		<parameter id="description"
			value="Marks a QContainer indicating that the execution of this QContainer increases comfort for the user." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property" id="finalQuestion">
		<parameter id="name" value="finalQuestion" />
		<parameter id="description"
			value="Marks a Question indicating that the value of the question cannot be changed, once it has left the init value." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property" id="uutState">
		<parameter id="name" value="uutState" />
		<parameter id="description"
			value="Marks a question as a state question with, by denoting a specific type of state." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="de.d3web.costbenefit.inference.CostBenefitProperties$UUTState" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler" id="PathExtenderHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.PathExtenderHandler" />
		<parameter id="name" value="PathExtenderHandler" />
		<parameter id="description" value="Handler for PathExtender" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property" id="targetOnly">
		<parameter id="name" value="targetOnly" />
		<parameter id="description"
			value="Marks a QContainer that it can only be used as an end QContainer by the AStar algorithm. This QContainer cannot be used to prepare other QContainers." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>

	<extension plugin-id="d3web-SessionPersistence-ExtensionPoints" point-id="FragmentHandler"
		id="ManualTargetSelectionEntryHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.ManualTargetSelectionEntryHandler" />
		<parameter id="name" value="ManualTargetSelectionEntryHandler" />
		<parameter id="description" value="Handler for ManualTargetSelectionEntries" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-SessionPersistence-ExtensionPoints" point-id="FragmentHandler"
		id="CalculatedPathEntryHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.CalculatedPathEntryHandler" />
		<parameter id="name" value="CalculatedPathEntryHandler" />
		<parameter id="description" value="Handler for CalculatedPathEntries" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="d3web-SessionPersistence-ExtensionPoints" point-id="FragmentHandler"
		id="CalculatedTargetEntryHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.CalculatedTargetEntryHandler" />
		<parameter id="name" value="CalculatedTargetEntryHandler" />
		<parameter id="description" value="Handler for CalculatedTargetEntries" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="5" />
	</extension>

	<extension plugin-id="KnowledgePersistenceExtensionPoints" point-id="FragmentHandler"
		id="StateTransitionMeasurementHandler">
		<parameter id="class" value="de.d3web.costbenefit.io.fragments.StateTransitionMeasurementHandler" />
		<parameter id="name" value="StateTransitionMeasurementHandler" />
		<parameter id="description"
			value="Handler for measurements that will measure state values to interact with the cost-benefit problem solver" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
	</extension>

	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="Property" id="permanentlyRelevant">
		<parameter id="name" value="permanentlyRelevant" />
		<parameter id="description"
			value="If a qcontainer is marked as a permanently relevant, the user gets the possibility to indicate this qcontainer directly if its preconditions are fullfilled." />
		<parameter id="multilingual" value="false" />
		<parameter id="autosave" value="basic" />
		<parameter id="priority" value="5" />
		<parameter id="instanceof" value="java.lang.Boolean" />
		<parameter id="default" value="false" />
	</extension>
</plugin>