/* ----------------  Rheumacheck styles  ----------------------------- */
body,#header,#footer,#main,.middlePanel {
	background: white;
}

#wrap {
	border-color: #000;
}

#header {
	border-bottom: 1px solid black;
}

.button {
	background-color: white;
}

.bg {
	background-color: white;
}

.lr {
	font-weight: bold;
}

.grey {
	background-color: #C6C8CA;
}