<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="d3web-Interview" version="0.0.1">

	<requires>
		<import plugin-id="d3web-Kernel-ExtensionPoints" />
		<import plugin-id="KnowledgePersistenceExtensionPoints" />
	</requires>
	
	<runtime>
		<library id="de.d3web" path="." type="code">
			<export prefix="*" />
		</library>
	</runtime>
	
	<extension plugin-id="d3web-Kernel-ExtensionPoints" point-id="PSMethod"
		id="PSMethodInterview">
		<parameter id="class"
			value="de.d3web.interview.inference.PSMethodInterview" />
		<parameter id="name" value="PSMethodInterview" />
		<parameter id="description" value="Adapter for propagation and interview" />
		<parameter id="version" value="1.0" />
		<parameter id="priority" value="3" />
	</extension>
	
</plugin>